* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
}
.headline {
  font-size: 100px;
  margin-top: 5vh;
}
.container {
  border: 2px solid lightgray;
  border-radius: 15px;
  padding: 5vh;
  margin-top: 20vh;
}
